In [17]:
import pandas as pd
dropout_data = pd.read_csv("dropout.csv", delimiter=';')
# get 1 raw data from dropout.csv to simulate user input from frontEnd    
DataFromFrontEndUser = dropout_data.sample(2000)
y_test = DataFromFrontEndUser['Target']
X_test = DataFromFrontEndUser.drop(columns=['Target'])
X_test = X_test.drop(columns=['Nacionality', 
                    'Mother\'s qualification', 
                    'Father\'s qualification', 
                    'Mother\'s occupation',
                    'Father\'s occupation',
                    'Educational special needs', 
                    'International', 
                    'Curricular units 1st sem (without evaluations)',
                    'Curricular units 2nd sem (without evaluations)',
                    'Unemployment rate', 
                    'Inflation rate'], axis=1)
# the X_test and y_test would be like 
print(X_test,y_test)

      Marital status  Application mode  Application order  Course  \
4039               1                 1                  1    9853
2586               1                18                  2    9147
1013               1                 1                  2    9773
2478               1                 1                  1    9500
4221               1                 1                  1    9238
...              ...               ...                ...     ...
3836               1                43                  1    9773
3902               2                39                  1    9147
3546               1                17                  4    9500
3389               1                43                  1    9238
1453               1                18                  2    9238

      Daytime/evening attendance\t  Previous qualification  \
4039                             1                       1
2586                             1                       1
1013                             1                       1
2478                             1                       1
4221                             1                       1
...                            ...                     ...
3836                             1                       1
3902                             1                       1
3546                             1                       1
3389                             1                       1
1453                             1                       1

      Previous qualification (grade)  Admission grade  Displaced  Debtor  ...  \
4039                           122.0            112.9          0       0  ...
2586                           115.0            108.7          1       0  ...
1013                           125.0            122.2          1       0  ...
2478                           128.0            125.6          1       0  ...
4221                           168.0            149.5          0       0  ...
...                              ...              ...        ...     ...  ...
3836                           121.0            123.8          0       0  ...
3902                           140.0            131.8          0       0  ...
3546                           143.0            131.5          1       0  ...
3389                           109.0            108.3          0       0  ...
1453                           126.0            129.9          1       0  ...

      Curricular units 1st sem (enrolled)  \
4039                                    7
2586                                    5
1013                                    6
2478                                    7
4221                                    6
...                                   ...
3836                                    4
3902                                    5
3546                                    7
3389                                    6
1453                                    7

      Curricular units 1st sem (evaluations)  \
4039                                       9
2586                                       8
1013                                       0
2478                                       7
4221                                      10
...                                      ...
3836                                       4
3902                                       6
3546                                       8
3389                                      15
1453                                       9

      Curricular units 1st sem (approved)  Curricular units 1st sem (grade)  \
4039                                    7                         11.857143
2586                                    3                         12.000000
1013                                    0                          0.000000
2478                                    7                         12.444286
4221                                    6                         17.000000
...                                   ...                               ...
3836                                    0                          0.000000
3902                                    4                         14.200000
3546                                    7                         12.512500
3389                                    2                         10.500000
1453                                    6                         12.000000

      Curricular units 2nd sem (credited)  \
4039                                    0
2586                                    0
1013                                    0
2478                                    0
4221                                    0
...                                   ...
3836                                    0
3902                                    0
3546                                    0
3389                                    0
1453                                    2

      Curricular units 2nd sem (enrolled)  \
4039                                    7
2586                                    5
1013                                    6
2478                                    8
4221                                    6
...                                   ...
3836                                    5
3902                                    5
3546                                    8
3389                                    6
1453                                    6

      Curricular units 2nd sem (evaluations)  \
4039                                       7
2586                                       9
1013                                       0
2478                                      11
4221                                      11
...                                      ...
3836                                       8
3902                                      10
3546                                       8
3389                                       8
1453                                       6

      Curricular units 2nd sem (approved)  Curricular units 2nd sem (grade)  \
4039                                    7                         11.857143
2586                                    3                         12.666667
1013                                    0                          0.000000
2478                                    7                         11.347143
4221                                    6                         16.000000
...                                   ...                               ...
3836                                    3                         12.000000
3902                                    4                         11.857143
3546                                    8                         14.187500
3389                                    5                         12.400000
1453                                    6                         11.166667

       GDP
4039 -0.92
2586 -3.12
1013  2.02
2478  1.79
4221  1.79
...    ...
3836  1.74
3902  1.74
3546  0.79
3389  1.74
1453  1.74

[2000 rows x 25 columns] 4039    Graduate
2586    Enrolled
1013     Dropout
2478    Graduate
4221    Graduate
          ...
3836     Dropout
3902    Enrolled
3546    Graduate
3389    Enrolled
1453    Graduate
Name: Target, Length: 2000, dtype: object

In [18]:
import pickle
scaler = pickle.load(open('scaler.pkl','rb'))
label_encoder = pickle.load(open('label_encoder.pkl','rb'))
X_test = scaler.transform(X_test)
y_test = label_encoder.transform(y_test)
# the data after transform by scaler and laber_encoder
print(X_test,y_test)

[[-0.29482875 -1.01066035 -0.55406775 ...  0.85064212  0.31225888
  -0.40621112]
 [-0.29482875 -0.03827083  0.20717316 ... -0.4763116   0.4676312
  -1.37551124]
 [-0.29482875 -1.01066035  0.20717316 ... -1.47152688 -1.96348862
   0.8891263 ]
 ...
 [-0.29482875 -0.09547022  1.72965498 ...  1.18238055  0.75952552
   0.34719942]
 [-0.29482875  1.39171374 -0.55406775 ...  0.18716526  0.41644973
   0.76576084]
 [-0.29482875 -0.03827083  0.20717316 ...  0.51890369  0.17973543
   0.76576084]] [2 1 0 ... 2 1 2]

In [20]:
from sklearn.metrics import accuracy_score
XGB = pickle.load(open("SMOTE_XGBoost.pkl", 'rb'))
y_pred = XGB.predict(X_test)
print("Voting Classifier Accuracy :",round(accuracy_score(y_test,y_pred)*100,2),"%")

Voting = pickle.load(open("SMOTE_Voting.pkl", 'rb'))
y_pred = Voting.predict(X_test)
print("Voting Classifier Accuracy :",round(accuracy_score(y_test,y_pred)*100,2),"%")

from sklearn.metrics import accuracy_score
RF = pickle.load(open("SMOTE_RF.pkl", 'rb'))
y_pred = RF.predict(X_test)
print("Voting Classifier Accuracy :",round(accuracy_score(y_test,y_pred)*100,2),"%")

Voting Classifier Accuracy : 98.15 %
Voting Classifier Accuracy : 98.15 %
Voting Classifier Accuracy : 97.75 %